@font-face {
  font-family: "Barlow Condensed Thin";
  src: url("Barlow_Condensed/BarlowCondensed-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Condensed Extra Light";
  src: url("Barlow_Condensed/BarlowCondensed-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Condensed Regular";
  src: url("Barlow_Condensed/BarlowCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url("Barlow_Condensed/BarlowCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Condensed Semi-Bold";
  src: url("Barlow_Condensed/Barlow_Condensed/BarlowCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Assistant Bold";
  src: url("Assistant/Assistant-Bold.ttf") format("truetype");
}
